html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}


/* font sizes */

:root {
    --base-size: 1.1em;
    --type-scale: 1.25;
    --h3: calc(var(--base-size) * var(--type-scale));
    --h2: calc(var(--h3) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));
    --primary-color: #9e1d20;
    --secondary-color: #091421;
    --accent: #fffcab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-weight: normal;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
    margin-top: var(--h2);
}

h3 {
    font-size: var(--h3);
    margin-top: var(--h3);
}

p,
ul {
    font-size: var(--base-size);
}

.mainimg {
    width: 100%;
}

header,
.content,
nav ul {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    padding: 2rem 1rem;
}

header img {
    width: auto;
    max-height: 75px;
    border-radius: 0;
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    padding: 0;
    list-style-type: none;
    font-size: var(--h3);
    max-width: 1200px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--accent);
}

p {
    margin-top: 0;
}

a {
    color: var(--primary-color);
}

a:hover {
    text-decoration: none;
}

article {
    margin-bottom: 5rem;
}

aside {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.aside {
    background-color: #091421;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.aside h3 {
    color: var(--accent);
    margin-top: 0;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 3rem;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.75rem;
}

.footer a {
    color: white;
}

@media (min-width: 650px) {
    header img {
        width: auto;
        max-height: 100px;
    }
}

@media (min-width: 1000px) {
    .content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 3rem;
    }
}

@media screen {
    .printonly {
        display: none;
    }
}

@media print {
     :root {
        --base-size: 0.8em;
    }
    body {
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    header img {
        max-height: 0.5in;
    }
    nav {
        display: none;
    }
    picture {
        display: none;
    }
    .content {
        display: block;
    }
    a[href]::after {
        content: " (" attr(href) ")";
        font-size: var(--base-size);
    }
    article {
        margin-bottom: 0;
    }

    .articlebody {
        columns: 2;
    }    
    aside {
        margin: 0;
    }
    .aside {
        background-color: white;
        color: black;
        margin: 0.25in 0;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 10px;
    }
    .aside h3 {
        color: black;
    }
    footer,
    .footer a {
        background-color: white;
        color: black;
        margin: 0;
    }
}